html body {
    scroll-behavior: smooth;
    overflow: hidden;
}

.list-struct {
    user-select: none;
    cursor: default;
    color: white;
    transition: 0.2s;
}

.list-struct:hover {
    background-image: linear-gradient(to right, rgba(194, 194, 194, 0.09), rgba(196, 196, 196, 0.425));
    /*background-color: rgba(196, 196, 196, 0.425);*/
    transition: 0.2s;
}

#contentWarp {
    display: flex;
    justify-content: center;
    overflow: auto;
}

#contentBody::selection {
    color: #fff;
    background: #3884ff;
}

@media screen and (min-width:768px) {
    #contentBody {
        width: 700px;
    }
}

@keyframes slideInFromLeft {
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    51% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    50% {
        transform: translateX(100%);
        opacity: 0;
    }
    51% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.anim-slide-left {
    animation: slideInFromLeft 0.4s;
}

.anim-slide-right {
    animation: slideInFromRight 0.4s;
}

@keyframes tenderScaleShow {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes tenderScaleHide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.anim-tender-show {
    animation: tenderScaleShow 0.4s;
}

.anim-tender-hide {
    animation: tenderScaleHide 0.4s;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    width: 4px;
    background: rgba(#101f1cad, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.363);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}

.loadingParent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}